body {
  background-color: black;
}
.body2 {
  background-color: pink;
}
.imagen0 {
  display: inline-block;
 
  width: 100px;
  line-height: 100px;
  max-width: 100px;
  margin: 0;
}

header nav a {
  color: white;
  display: inline-block;
  padding: 5px 10px;
  line-height: 1;
  text-decoration: none;
}
a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  color: white;
}

.imagen1 {
  width: 400px;
  height: auto;
}
.padre {
  display: flex;
  flex: 1;
  flex-direction: row;
}

article,
aside {
  flex: 1;
  padding: 1rem;
  margin: 1px;
}
article,
h2 {
  color: black;
  font-size: 20pt;
}

.imagen2 {
  width: 400px;
  height: auto;
}
.padre2 {
  display: flex;
  flex: 1;
  flex-direction: row;
}

article,
aside {
  flex: 1;
  padding: 1rem;
  margin: 1px;
}
article,
h2 {
  color: white;
  font-size: 20pt;
}

div.albunes {
  display: flex;
  margin: 40px;
  text-align: center;
  color: white;
}
h1 {
  text-align: center;
  margin: 20px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-toggler {
  background: #fff;
}
.navbar-nav {
  text-align: center;
}

.nav-link.active,
.nav-link:focus {
  color: #fff;
}
.titulom {
  color: black;
}
.textopm {
  color: black;
}
.albunes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenmusica {
  width: 300px;
  height: 100%;
  transition: all 500ms ease-out;
  border-radius: 0.375rem;
  padding: 1rem;
}

img:hover {
  opacity: 0.5;
}
